body {
  margin-top: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: white;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1200px;
  height: 56px;
  font-size: 14x;
  line-height: 26px;
  color: #000000;
}

.main-navigation a,
.hotel-link a {
  color: #000000;
}

.main-navigation a:hover,
.hotel-link a:hover {
  color: #9fc4db;
}

.main-navigation a:focus,
.hotel-link a:focus {
  color: #cecece;
}

.main-navigation a:active,
.hotel-link a:active {
  color: #cecece;
}

header {
  width: 1200px;
  height: 56px;
  text-align: center;
}

.welcome img {
  display: block;
  margin: 0 auto;
  width: 459px;
  height: 353px;
}

.welcome {
  width: 1200px;
  background-color: #81b3d2;
  background-image: url(../img/background-photo.png), url(../img/polygon.png);
  background-repeat: no-repeat;
  background-position: bottom, top;
  padding: 75px 0;
  margin-bottom: 60px;
}

.advantage, .advantage-three-four-five, .advantage-one-detailed {
  display: flex;
  width: 1200px;
  height: 256px;
}

.intro {
  width: 1200px;
  height: 216px;
  padding-top: 61px;
  text-align: center;
}

.photo-bridge {
  display: inline-block;
  width: 800px;
  height: 256px;
  background-image: url(../img/bridge.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-1 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-1.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.icon-2 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-2.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.icon-3 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-3.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.photo-home {
  display: inline-block;
  width: 800px;
  height: 256px;
  background-image: url(../img/home.jpg);
  background-size: 100% 100%;
}

.advantage-one, .advantage-two {
  display: inline-block;
  width: 400px;
  height: 256px;
  margin: 0 auto;
  text-align: center;
  background-color: #81b3d2;
}

.advantage-one-home, .advantage-one-food, .advantage-one-present {
  display: inline-block;
  width: 400px;
  height: 256px;
  text-align: center;
}

.advantage-three, .advantage-four, .advantage-five {
  display: inline-block;
  width: 400px;
  height: 256px;
  margin: 0 auto;
  text-align: center;
  background-color: #eeeeee;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 256px;
  text-align: center;
  clear: both;
}

.hotel-chek {
  display: flex;
  width: 1200px;
}

.sorted {
  display: flex;
  width: 1200px;
}

.hotels-information {
  display: flex;
  width: 1200px;
}

.star-rating {
  display: inline-block;
}

.star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  font-size: 0;
}

.link-hidden-form {
  width: 568px;
  height: 86px;
  margin: auto;
  background-color: #766357;
  background-size: 568px 86px;
  background-position: center;
  text-align: center;
}

.search-form {
  display: inline-block;
  border: 1px solid black;
  width: 568px;
  height: 419px;
  text-align: center;
}

.search {
  background-color: #81b3d2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-info {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 256px;
  text-align: center;
  clear: both;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 256px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 6px;
  background-color: #618ad2;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.youtube {
  background-image: url(../img/youtube.svg);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.facebook {
  background-image: url(../img/fb-icon.svg);
}

.htmlacademy {
  width: 115px;
  height: 41px;
  font-size: 0;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-size: 115px 41px;
}
