body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1200px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: white;
}

.link-navigation {
  padding-top: 14px;
  padding-bottom: 16px;
}

.map {
  background-color: white;
  width: 1200px;
  min-height: 474px;
}

.map iframe {
  height: 474px;
  width: 1200px;
  border: 0;
}

.intro {
  background-color: white;
}

.legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.label,
.form-cost-btn,
.cost-btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.intro b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advantage-one-detailed p,
.advantage p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.advantage-one-detailed b {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.hotels b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 58px;
}

img {
  max-width: 100%;
  height: auto;
}

.hotels p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.info-cheсk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infra ul,
.type ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.infra li,
.type li {
  display: flex;
  margin-bottom: 26px;
}

.check+label::after {
  content: "";
  top: -22px;
  right: 38px;
  width: 27px;
  height: 23px;
  display: block;
  position: relative;
  background: url(../img/checkbox-off.svg) no-repeat;
  background-position: left;
  cursor: pointer;
}

.check:checked+label::after {
  content: " ";
  background: url(../img/checkbox-on.svg) no-repeat;
  background-position: left;
  cursor: pointer;
}


.hotels a {
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 35px;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.form-cost-btn {
  display: flex;
  width: 137px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 35px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  justify-content: center;
  margin-left: 86px;
}

.cost-btn {
  width: 137px;
  height: 36px;
  color: white;
  background: transparent;
  border: 0;
}

.cost-btn:hover {
  background-color: white;
  color: black;
}

.main-menu li {
  display: flex;
  width: 240px;
  justify-content: center;
}

.main-menu a,
.hotel-link a {
  color: #000000;
}

.main-menu a:hover,
.hotel-link a:hover {
  color: #9fc4db;
}

.main-menu a:focus,
.hotel-link a:focus {
  color: #cecece;
}

.main-menu a:active,
.hotel-link a:active {
  color: #cecece;
}

.welcome {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.welcome-sedona {
  margin-top: 71px;
  margin-bottom: 22px;
}

.cheсk-infra-type {
  display: flex;
  margin-left: 72px;
}

.polygon {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.advantage,
.advantage-three-four-five,
.advantage-one-detailed {
  display: flex;
  width: 1200px;
}

.intro {
  width: 1200px;
  padding-top: 61px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: -8px;
}

.photo-bridge {
  display: inline-block;
  width: 800px;
  background-image: url(../img/bridge.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-1 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-1.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.icon-2 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-2.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.icon-3 {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/icon-3.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
}

.photo-home {
  display: inline-block;
  width: 800px;
  background-image: url(../img/home.jpg);
  background-size: 100% 100%;
}

.advantage-one,
.advantage-two {
  display: inline-block;
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  padding-top: 50px;
  padding-bottom: 40px;
  color: white;
}

.advantage-one-home,
.advantage-one-food,
.advantage-one-present {
  display: inline-block;
  width: 400px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: white;
}

.icon-1,
.icon-2,
.icon-3 {
  padding-bottom: 33px;
}

.advantage-three,
.advantage-four,
.advantage-five {
  display: inline-block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 40px;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  text-align: center;
  clear: both;
  background-color: white;
}

.hotel-cheсk {
  background-image: url(../img/background-hotels.jpg);
  background-position: center;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  color: white;
  padding-top: 40px;
  margin-top: 0;
}

fieldset {
  border: 0 none;
}

.infra,
.type,
.cost {
  display: flex;
  flex-direction: column;
}
.type {
  margin-left: 115px;
}
.cost {
  padding-right: 73px;
}

.value-cost {
  text-align: center;
  background: transparent;
  color: white;
  border: 0;
  width: 56px;
}

.value-min,
.value-max {
  display: flex;
  justify-content: center;
  width: 159px;
}

.sorted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  background-color: white;
  border-bottom: solid 2px #e5e5e5
}

.type-sorted {
  display: flex;
  margin-left: 72px;
  justify-content: space-around;
  padding-top: 31px;
  padding-bottom: 31px;
  align-items: center;
}

.sort {
  color: #e7e7e7;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dashed #e7e7e7;
}

.sort:focus {
  color: #9fc4db;
  border-bottom: 1px dashed #9fc4db;
}

.sort:hover {
  color: #9fc4db;
  border-bottom: 1px dashed #9fc4db;
}

.sort:active {
  color: black;
  border-bottom: 0;
}

.sort-prise {
  color: #e7e7e7;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-prise:active {
  color: #9fc4db;
}

.type-sorted span {
  margin-right: 30px;
}

.min-max-cost {
  display: flex;
  align-items: center;
  width: 318px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  border-collapse: collapse;
  margin-top: 13px;
}

.min-max-cost::before {
  content: "";
  position: relative;
  top: 30%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.range {
  display: flex;
  padding-top: 13px;
}

.toggle {
  width: 22px;
  height: 24px;
  background-image: url(../img/filter-button.svg);
  background-size: 100% 100%;
}

.toggle:hover {
  background-image: url(../img/filter-button-hover.png);
  background-size: 100% 100%;
}

.line-one {
  border: 0;
  width: 222px;
  height: 2px;
  background-color: white;
}

.line-two {
  border: 0;
  width: 57px;
  height: 2px;
  background-color: white;
  opacity: 0.5;
}

.hotels-information {
  border-bottom: solid 2px #e5e5e5;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  background-color: white;
}

.info-detail-price a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.info-detail-price {
  display: flex;
}

.filtred,
.type-sorted a {
  font-size: 12px;
  line-height: 18px;
}

.hotel-photo1 {
  width: 135px;
  background-image: url(../img/amara.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-photo2 {
  width: 135px;
  background-image: url(../img/desert.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-photo3 {
  width: 135px;
  background-image: url(../img/villas.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-name,
.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-bottom: 20px;
}

.hotel-link a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.finded span{
  font-size: 21px;
  line-height: 26px;
}

.star-rating {
  display: flex;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../img/star.svg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.arrow-sorted {
  padding-right: 73px;
}

.arrow {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin: 6px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.up {
  background-image: url(../img/up-no-active.png);
}

.up:hover {
  background-image: url(../img/icon-up-dir.svg);
}

.up:active {
  background-image: url(../img/up-active.png);
}

.down {
  background-image: url(../img/down-no-active.png);
}

.down:hover {
  background-image: url(../img/icon-down-dir.svg);
}

.down:active {
  background-image: url(../img/down-active.png);
}

.rating {
  background-size: 110px 27px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.detailed {
  width: 110px;
  background-size: 110px 27px;
  background-color: #81b3d2;
  text-align: center;
}

.detailed:hover {
  width: 110px;
  background-size: 110px 27px;
  background-color: #669ec0;
  text-align: center;
  color: #ffffff;
}

.detailed:active {
  width: 110px;
  background-size: 110px 27px;
  background-color: #5496bd;
  text-align: center;
  color: #88b6d1;
}

.book {
  width: 142px;
  background-size: 142px 27px;
  background-color: #766357;
  text-align: center;
}

.book:hover {
  width: 142px;
  background-size: 142px 27px;
  background-color: #604e43;
  text-align: center;
  color: #ffffff;
}

.book:active {
  width: 142px;
  background-size: 142px 27px;
  background-color: #503e33;
  text-align: center;
  color: #857871;
}

.information,
.info-detail,
.hotels-price {
  display: flex;
  flex-direction: column;
}

.information {
  margin-left: 30px;
  justify-content: space-between;
}

.hotels-price {
  margin-left: 6px;
}

.date-on,
.date-off {
display: flex;
}

.date-on a,
.date-off a {
color: black;
}
.calendar-choice {
  display: flex;
  align-items: center;
  cursor: pointer;
}



.choice-date {
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 38px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-collapse: collapse;
  cursor: pointer;
}
.date-label-off {
  margin-right: 15px;
}
.date-label-on {
  margin-right: 17px;
}
.calendar-choise:hover,
.calendar-choise:focus{
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.calendar-choice :active{
  background-color: white;
  border-color: #e5e5e5;
}
.link-calendar {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../img/calendar-no-active.png);
  background-position: center center;
  background-size: 21px 22px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.link-calendar:hover {
  width: 38px;
  height: 38px;
  background-image: url(../img/calendar.svg);
  background-position: center center;
  background-size: 21px 22px;
  background-repeat: no-repeat;
}

.link-calendar:active {
  width: 38px;
  height: 38px;
  background-image: url(../img/calendar-active.png);
  background-position: center center;
  background-size: 21px 22px;
  background-repeat: no-repeat;
}

.calendar {
  height: 38px;
  text-align: left;
  border: none;
  outline: none;
  background-color: inherit;

}

.big,
.little {
  display: flex;
  align-items: center;
}

.plus-minus {
  width: 38px;
  height: 36px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.click-minus {
  width: 38px;
  height: 38px;
  margin-left: 44px;
  background-image: url(../img/minus-no-active.png);
  background-position: center center;
  background-size: 12px 3px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.click-plus {
  width: 38px;
  height: 38px;
  background-image: url(../img/plus-no-active.png);
  background-position: center center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.click-minus:hover {
  background-image: url(../img/minus-hover.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 3px;
  background-color: #f2f2f2;
}

.click-plus:hover {
  background-image: url(../img/plus-hover.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px 11px;
  background-color: #f2f2f2;
}

.click-minus:active {
  background-image: url(../img/minus-active.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 3px;
  background-color: #f2f2f2;
}

.click-plus:active {
  background-image: url(../img/plus-active.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px 11px;
  background-color: #f2f2f2;
}

.hotel-link a,
.twit a {
  color: black;
}

.all-hotel-information {
  display: flex;
  margin-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-hidden-form {
  display: flex;
  justify-content: center;
  width: 568px;
  height: 86px;
  background-color: #766357;
  background-size: 568px 86px;
  background-position: center center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
}

.link-hidden-form:hover {
  width: 568px;
  height: 86px;
  background-color: #604e43;
  background-size: 568px 86px;
  background-position: center center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.link-hidden-form:active {
  width: 568px;
  height: 86px;
  background-color: #503e33;
  background-size: 568px 86px;
  background-position: center center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
  color: #766860;
}

.hidden-search-form {
  display: flex;
  justify-content: center;
  width: 1200px;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 568px;
  color: #000;
  font-weight: 700;
  text-align: left;
  background-color: #fff;
      box-shadow: 0 10px 10px 5px rgba(0,0,0,.1);
}

.date-on {
  margin-left: 55px;
  margin-top: 55px;
  margin-right: 55px;
}

.number-of-people {
  display: flex;
}

.big {
  margin-right: 30px;
}

.date-off,
.number-of-people {
  margin-left: 55px;
  margin-top: 29px;
  margin-right: 55px;
}

.search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  background-size: 458px 58px;
  margin-left: 55px;
  margin-top: 29px;
  margin-right: 55px;
  margin-bottom: 55px;
  border: none;
  outline: none;
}

.search:hover {
  width: 458px;
  height: 58px;
  background-color: #669ec0;
  background-size: 458px 58px;
  margin-left: 55px;
  margin-top: 29px;
  margin-right: 55px;
  margin-bottom: 55px;
  border: none;
  outline: none;
  color: #ffffff;
}

.search:active {
  width: 458px;
  height: 58px;
  background-color: #5496bd;
  background-size: 458px 58px;
  margin-left: 55px;
  margin-top: 29px;
  margin-right: 55px;
  margin-bottom: 55px;
  border: none;
  outline: none;
  color: #88b6d1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-info {
  display: flex;
  justify-content: center;
  width: 1200px;
  text-align: center;
  clear: both;
  background-color: white;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  text-align: center;
}

.social-btn {
  display: flex;
 align-items: center;
 justify-content: center;
  width: 40px;
  height: 40px;
  margin: 6px;
  background-color: #81b3d2;
  background-position: center;
  background-repeat: no-repeat;
}
.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:hover path,
.social-btn:focus path {
  fill: #ffffff;
}
.social-btn:active {
  background-color: #669ec0;
}

.social-btn:focus path {
  opacity: 0.5;
}
.htmlacademy {
  width: 115px;
  height: 41px;
  font-size: 0;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-size: 115px 41px;
  vertical-align: middle;
}

.copyright b {
  margin-right: 10px;
}

.copyright a:hover {
  background-image: url(../img/logo_html-hover.png);
  background-repeat: no-repeat;
  background-size: 115px 41px;
}

.copyright a:active {
  background-image: url(../img/logo_html-active.png);
  background-repeat: no-repeat;
  background-size: 115px 41px;
}
